<!doctype html>
<html lang="<%= language %>">
<head>
    <meta charset="utf-8">
    <title><%= t('emails.LowStock.subject', { application, itemName }) %></title>
</head>
<body>
    <p><%= t('emails.greeting', { name }) %></p>
    <p><%= t('emails.LowStock.body') %></p>
    <ul>
        <li><strong><%= t('emails.LowStock.item') %>:</strong> <%= item.name %></li>
        <li><strong><%= t('emails.LowStock.stock') %>:</strong> <%= item.stock %> / <%= item.target_stock %></li>
    </ul>
    <% if (trend && trend.averagePerDay > 0) { %>
        <p><%= t('emails.LowStock.estimate', {
            averagePerDay: trend.averagePerDay,
            estimatedDuration
        }) %></p>
    <% } else { %>
        <p><%= t('emails.LowStock.noTrend') %></p>
    <% } %>
</body>
</html>
